.heading {
    display: flex;
    gap: 1rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: var(--white-2);
}

.card {
    color: inherit;
    border: 0.2rem solid currentColor;
    border-radius: 1rem;
    background-color: var(--white-1);
    padding: 0.5rem 1rem 0.2rem 1rem;
    max-width: 3h;
    box-shadow: 0 0 0.5rem currentColor;
    text-align: left;
}

.card:hover,
.card:focus {
    color: var(--hne-blue);
}

.card h1 {
    font-size: 3rem;
}
