@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700;900&display=swap");

:root {
    --hne-blue-rgb: 0, 38, 100; /* #002664 */
    --hne-blue: rgb(var(--hne-blue-rgb));
    --bg-gradient: linear-gradient(150deg, #ff6363, 25%, #cde447, 75%, #18abef);
    --light-blue-rgb: 117, 147, 186; /* #7daeff */
    --light-blue: rgb(var(--light-blue-rgb));
    --white-1: #e7e7e7;
    --white-2-rgb: 150, 150, 150; /* #969696 */
    --white-2: rgb(var(--white-2-rgb));
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

html,
body {
    --bg-col-border: calc(3vh + 2vw);
    height: calc(100% - var(--bg-col-border));
}

html {
    background: var(--hne-blue);
}

body {
    margin: 0;
    font-family: "Public Sans", arial;
    display: flex;
    flex-direction: column;
    padding: var(--bg-col-border);
}

main {
    flex-grow: 1;
    background-color: white;
    box-shadow: 0 0 2vh 1vh rgba(0, 0, 0, 0.3);
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 2rem;
}

.bg-wrap {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none;
}

.bg {
    --size: calc(135vh + 135vw);
    position: absolute;
    height: var(--size);
    width: var(--size);
    top: -65vw;
    left: -65vw;
    z-index: -1;
    background-image: var(--bg-gradient);
    animation: rotate 40s linear infinite;
}

h1 {
    margin: 0.3rem;
    font-size: 4em;
    line-height: 0.9em;
}

h2 {
    margin: 0.3rem;
    font-size: 1.5em;
    color: var(--white-2);
}
.nav-3-lines {
    flex: 0 0 auto;
    margin: auto 0;
    position: relative;
    color: var(--white-2);
    transition: color 250ms;
}

.nav-3-lines span {
    display: block;
    background-color: currentColor;
    --height: 0.5rem;
    border-radius: 100vh;
    height: var(--height);
    width: calc(6 * var(--height));
    margin: 0.5rem 0;
}

.nav-3-lines:hover,
.nav-3-lines:focus {
    color: #000;
}

.navmenu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white-1);
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 2.5rem;
    z-index: 1;
    width: 15ch;
    box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
    transform: translateX(-100%);
    transition: transform 800ms ease-in-out;
}

.navmenu.open {
    transform: none;
}

.navmenu li {
    display: flex;
    height: 3.5rem;
    color: var(--white-2);
}

.navmenu li a {
    border-radius: 0 100vh 100vh 0;
    line-height: 140%;
    flex-grow: 1;
    padding: 0 1rem;
    text-decoration: none;
    color: inherit;
}

.navmenu li a,
.navmenu li button {
    height: 100%;
    transition: background-color 250ms, color 250ms;
}

.navmenu li button {
    border: none;
    font-size: 1.5rem;
    width: 4ch;
    margin-left: -1ch;
    padding-right: 0.5rem;
    background: transparent;
    text-align: right;
    border-radius: 100vh 0 0 100vh;
    cursor: pointer;
    color: inherit;
}

.navmenu li a:hover,
.navmenu li button:hover,
.navmenu li a:focus,
.navmenu li button:focus {
    background-color: var(--white-2);
    z-index: 2;
    outline: none;
    box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1) inset;
    color: #000;
}
