@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700;900&display=swap");

:root {
    --hne-blue-rgb: 0, 38, 100; /* #002664 */
    --hne-blue: rgb(var(--hne-blue-rgb));
    --bg-gradient: linear-gradient(150deg, #ff6363, 25%, #cde447, 75%, #18abef);
    --light-blue-rgb: 117, 147, 186; /* #7daeff */
    --light-blue: rgb(var(--light-blue-rgb));
    --white-1: #e7e7e7;
    --white-2-rgb: 150, 150, 150; /* #969696 */
    --white-2: rgb(var(--white-2-rgb));
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

html,
body {
    --bg-col-border: calc(3vh + 2vw);
    height: calc(100% - var(--bg-col-border));
}

html {
    background: var(--hne-blue);
}

body {
    margin: 0;
    font-family: "Public Sans", arial;
    display: flex;
    flex-direction: column;
    padding: var(--bg-col-border);
}

main {
    flex-grow: 1;
    background-color: white;
    box-shadow: 0 0 2vh 1vh rgba(0, 0, 0, 0.3);
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 2rem;
}

main > *:nth-last-of-type(2) {
    flex-grow: 1;
}

h1 {
    margin: 0.3rem;
    font-size: 4em;
    line-height: 0.9em;
}

h2 {
    margin: 0.3rem;
    font-size: 1.5em;
    color: var(--white-2);
}

.bg-wrap {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none;
}

.bg {
    position: absolute;
    height: calc(100vh + 100vw);
    width: calc(100vh + 100vw);
    top: -50vw;
    left: -50vh;
    z-index: -1;
    background-image: var(--bg-gradient);
    animation: rotate 40s linear infinite;
    transform-origin: center;
}

.heading {
    display: flex;
    gap: 1rem;
}

.cmd-pallate {
    --pallate-height: 6rem;
    display: flex;
    margin: 1rem 0;
    flex-wrap: wrap;
    gap: 2rem;
}

.clinician-info {
    display: flex;
    flex-grow: 1;
}

.clinician-info button {
    height: var(--pallate-height);
    width: var(--pallate-height);
    font-size: 4em;
    border-radius: 100vh;
    background-color: var(--white-1);
    color: var(--white-2);
    font-weight: 700;
    border: 0.24rem solid var(--white-2);
    box-shadow: 0 0 0.15rem 0.15rem rgba(var(--white-2-rgb), 0.4);
    transition: border 250ms, box-shadow 250ms, color 250ms,
        -webkit-box-shadow 250ms;
}

.clinician-info button:focus,
.clinician-info button:hover {
    outline: none;
    color: var(--hne-blue);
    border: 0.24rem solid var(--hne-blue);
    box-shadow: 0 0 0.15rem 0.15rem rgba(var(--hne-blue-rgb), 0.4);
}

.clinician-info label {
    font-size: 1.5em;
    margin: auto 0 0 0.5em;
    font-weight: 700;
    color: var(--white-2);
    transition: color 250ms;
}

.clinician-info button:focus + label,
.clinician-info button:hover + label {
    color: var(--hne-blue);
}

.welcome-start-button {
    position: relative;
    min-width: 17rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
    letter-spacing: -4px;
    border-radius: 100vh;
    background-color: var(--hne-blue);
    color: var(--white-1);
    box-shadow: 0 0 0.15rem 0.15rem rgba(var(--hne-blue-rgb), 0.4);
    transition: color 250ms;
}

.welcome-start-button:hover,
.welcome-start-button:focus-within {
    color: var(--light-blue);
    box-shadow: 0 0 0.15rem 0.15rem rgba(0, 0, 0, 0.4);
    outline: none;
}

.welcome-start-button a {
    color: inherit;
    text-decoration: none;
    margin: 0 1.8rem 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 4.5em;
}

.welcome-start-button a:focus {
    outline: none;
}

.welcome-start-button a::after {
    --border-width: 0.7rem;
    content: "\276F";
    display: inline-flex;
    position: absolute;
    left: 0;
    padding: 0 0 0.4rem 0.4rem;
    height: calc(var(--pallate-height) - 2 * var(--border-width) - 0.4rem);
    width: calc(var(--pallate-height) - 2 * var(--border-width) - 0.4rem);
    font-weight: 900;
    align-items: center;
    justify-content: center;
    border-radius: 100vh;
    border: var(--border-width) solid currentColor;
    box-shadow: 0 0 0.15rem 0.15rem rgba(0, 0, 0, 0.4);
}

.nav-3-lines {
    flex: 0 0 auto;
    margin: auto 0;
    position: relative;
    color: var(--white-2);
    transition: color 250ms;
}

.nav-3-lines span {
    display: block;
    background-color: currentColor;
    --height: 0.5rem;
    border-radius: 100vh;
    height: var(--height);
    width: calc(6 * var(--height));
    margin: 0.5rem 0;
}

.nav-3-lines:hover,
.nav-3-lines:focus {
    outline: none;
    color: #000;
}

#navmenu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white-1);
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    font-size: 2.5rem;
    z-index: 1;
    width: 15ch;
    box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
    transform: translateX(calc(-100% - 0.3rem));
    transition: transform 800ms ease-in-out;
}

#navmenu.open {
    transform: none;
}

#navmenu li {
    display: flex;
    height: 3.5rem;
    color: var(--white-2);
}

#navmenu li a {
    border-radius: 0 100vh 100vh 0;
    line-height: 140%;
    flex-grow: 1;
    padding: 0 1rem;
    text-decoration: none;
    color: inherit;
}

#navmenu li a,
#navmenu li button {
    height: 100%;
    transition: background-color 250ms, color 250ms;
}

#navmenu li button {
    border: none;
    font-size: 1.5rem;
    width: 4ch;
    margin-left: -1ch;
    padding-right: 0.5rem;
    background: transparent;
    text-align: right;
    border-radius: 100vh 0 0 100vh;
    cursor: pointer;
    color: inherit;
}

#navmenu li a:hover,
#navmenu li button:hover,
#navmenu li a:focus,
#navmenu li button:focus {
    background-color: var(--white-2);
    z-index: 2;
    outline: none;
    box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1) inset;
    color: #000;
}

.activity-select-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: var(--white-2);
}

.activity-select-cards .card {
    color: inherit;
    position: relative;
    border: 0.2rem solid currentColor;
    border-radius: 1rem;
    background-color: var(--white-1);
    padding: 0.5rem 1rem 0.2rem 1rem;
    width: 15rem;
    box-shadow: 0 0 0.5rem currentColor;
    text-align: left;
    transition: color 350ms;
    display: flex;
    flex-direction: column;
}

.activity-select-cards .card h1::after {
    --border-width: 0.3rem;
    --btn-height: 3rem;
    content: "\276F";
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    font-size: 2.3rem;
    display: inline-flex;
    padding: 0.1ch 0.1ch 0.25ch 0.25ch;
    height: calc(var(--btn-height) - 2 * var(--border-width) - 0.35ch);
    width: calc(var(--btn-height) - 2 * var(--border-width) - 0.35ch);
    font-weight: 900;
    align-items: center;
    justify-content: center;
    border-radius: 100vh;
    border: var(--border-width) solid currentColor;
}

.activity-select-cards .card:hover,
.activity-select-cards .card:focus {
    color: var(--hne-blue);
    outline: none;
}
